<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/CSS/style.css" />
    <title>Area Calculator</title>
  </head>
  <body>
    <h1>Area Calculator</h1>
    <main>
      <ul>
        <li>
          <a href="/circle">Circle Area</a>
        </li>
        <li>
          <a href="/square">Square Area</a>
        </li>
        <li>
          <a href="/triangle">Triangle Area</a>
        </li>
        <li>
          <a href="/rectangle">Rectangle Area</a>
        </li>
      </ul>
    </main>
  </body>
</html>
